* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerDiv {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-grow: 1;
}

.header {
  background-color: #a9a9a9;
  height: 7vh;
  color: #efefef;
}

.header > h1 {
  color: #efefef;
  margin: 0px;
}

.aside {
  flex-basis: 30vw;
  max-height: 90vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.aside h3 {
  padding: 5%;
}

.wordList {
  padding: 2%;
  align-self: flex-start;
  flex-grow: 1;
  width: 100%;
}

.wordList li {
  display: block;
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid black;
  background-color: #caebf2;
  border-radius: 5px;
  margin: 5%;
  font-size: large;
}

.wordList li i {
  color: #ff3b3f;
  padding-right: 10px;
  float: right;
  border-bottom: none;
  cursor: pointer;
}

.body {
  flex-basis: 30vw;
  justify-content: start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin: 10px;
  flex-wrap: wrap;
}

.body h2 {
  text-align: center;
}

.form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.searchText {
  margin: 5px;
  height: 2.5rem;
  padding: 5px;
  border-radius: 5px;
  flex-basis: 30%;
}

.btn {
  background-color: #caebf2 !important;
  margin: 5px;
}

.infoDiv {
  background-color: #efefef;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid #a9a9a9;
  border-radius: 5px;
}

.data {
  display: flex;
  margin: 5px;
  background-color: white;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

.content1 {
  min-width: 30%;
  flex-basis: 30%;
  padding: 10px;
  border-right: 3px solid #a9a9a9;
}
.content2 {
  flex-flow: 1;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}

#audioPh:hover {
  cursor: pointer;
}
